{% extends "index.html" %}

{% block title %}Crear chef{% endblock title %}
{% block body %}
<div class="d-flex justify-content-end align-items-center">
  <div class="col-12 text-end p-3">
    <button class="btn btn-primary" onclick="openModal('#modal_chef', '{% url 'chefs:create' %}')">Nuevo Chef</button>
  </div>
</div>
{% if chefs %}
<div class="d-flex justify-content-center">
  <div class="col-12 p-3">
    <table class="table patientsHeadClass table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Lastname</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for chef in chefs %}
        <tr>
          <td>{{chef.id}}</td>
          <td>{{chef.name}}</td>
          <td>{{chef.last_name}}</td>
          <td>
            <button class="btn" onclick="openModal('#modal_chef', '{% url 'chefs:update' chef.id %}')">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn"  onclick="openModal('#modal_chef','{% url 'chefs:delete' chef.id %}')">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<h1>No existen chefs</h1>
{% endif %}
<div class="modal fade" id="modal_chef" role="dialog"></div>
{% endblock body %}
