{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Document{% endblock title %}</title>
    <script src="{% static 'icons/all.min.js' %}"></script>
    {% compress css %}
      <link type="text/x-scss" href="{% static 'scss/index.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    {% block extracss %}{% endblock extracss %}
  </head>
  <body>
    {% block body %}
    <h1>INDEX APP</h1>
    <a href="" >Chefs</a>
    {% endblock body %}
  </body>
</html>
