{% extends "index.html" %}
{% block title %}Crear chef{% endblock title %}
{% block body %}
{% if not error %}
<div class="card col-9 p-3">
  <form method="post">
    {% csrf_token %} 
    <div class="row form-group">
      <div>
        <label>{{form.name.label}}</label>
      </div>
      <div>{{form.name}}</div>
    </div>
    <div class="row form-group">
      <div>
        <label>{{form.description.label}}</label>
      </div>
      <div>{{form.description}}</div>
    </div>
    <div class="row form-group">
      <div>
        <label>{{form.chef.label}}</label>
      </div>
      <div>{{form.chef}}</div>
    </div>
    <button class="btn btn-primary" type="submit">Actualizar</button>
  </form>
</div>
{% else %}
<h1>{{ error }}</h1>
{% endif %}
{% endblock body %}
