{% extends "index.html" %}

{% block header %}Recetas{% endblock header %}
{% block title %}Crear receta{% endblock title %}
{% block body %}
<div class="d-flex justify-content-end align-items-center">
  <div class="col-12 text-end p-3">
    <button class="btn btn-primary" onclick="openModal('#modal_recipe', '{% url 'recipes:create' %}')">Nueva Receta</button>
  </div>
</div>
{% if recipes %}
<div class="d-flex justify-content-center">
  <div class="col-12 p-3">
    <table class="table patientsHeadClass table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Chef</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
        <tr>
          <td>{{recipe.id}}</td>
          <td>{{recipe.name}}</td>
          <td>{{recipe.description}}</td>
          <td>{{recipe.chef}}</td>
          <td>
            <button class="btn" onclick="openModal('#modal_recipe', '{% url 'recipes:show' recipe.id %}')">
              <i class="fa-solid fa-eye"></i>
            </button>
            <button class="btn" onclick="openModal('#modal_recipe', '{% url 'recipes:update' recipe.id %}')">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn" onclick="openModal('#modal_recipe', '{% url 'recipes:delete' recipe.id %}')">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<h1>No existen recetas</h1>
{% endif %}
<div class="modal fade" id="modal_recipe" role="dialog"></div>
{% endblock body %}
